@import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url('https://i.ibb.co/Xs7DjGG/brandon-webb-Bs-Rl-Qqt6-Qns-unsplash.jpg') no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px); 
}

.loading-text {
  font-size: 50px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  position: absolute;

}